<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EDIT Yo Friends</title>
</head>
<body>
	<h1>Edit Page</h1>
	{% for friend in friends %}
	<ul>
		<li>{{friend['first_name']}} {{friend['last_name']}}</li>
	</ul>
	<form action='/friends/{{friend['id']}}' method='post'>
		Change First Name: <input type="text" name="fname"><br>
		Change Last Name: <input type="text" name="lname"><br>
		<button>Update!</button>
	</form>
	<form action='/friends/{{friend['id']}}/delete' method="post">
		<button>Delete</button>
	</form>
	{% endfor %}
	
</body>
</html>